<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Django Boilerplate</title>
    </head>
    <body>
        <header>
            {% if messages %}
                {% for message in messages %}
                    {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}<p style="color: green;">{{ message }}</p>{% endif %}
                {% endfor %}
            {% endif %}
        </header>
        <main>
            {% block content %}
            {% endblock %}
        </main>
    </body>
</html>